.header{
    text-align: center;
    height: 100px;
    font-family: fantasy;
    background-color: rgb(105, 176, 223);
    color:rgb(26, 102, 165);
    font-size: x-large;
    margin-top: 0;
    display: flex;
}
body{
    background-color: grey;
}
h1{
    margin: auto;
}
.inputs{
    margin-left: 15px;
}
input,textarea{
    margin-left: 10px;
    height: 25px;
    background-color: rgb(92, 177, 144);
    font-family: monospace;
    border-style: dotted;
    font-size: 17px;
}
.inputSpan{
    font-size: 28px;
}
#inputArea{
    font-family: fantasy;
    height: 80px;
    background-color: rgb(129, 169, 196);
    color:rgb(58, 118, 167);
    font-size: large;
    margin-top: 0;
    display: flex;
    text-align: center;
}
#area1{
    margin:auto;
}